[includeIf "gitdir:~/dev/projects/"]
    path = ~/dev/projects/dotfiles/git/gitconfig.personal

[includeIf "gitdir:~/dev/jet/"]
    path = ~/dev/projects/dotfiles/git/gitconfig.work

[core]
    editor = nvim
