# This is Git's per-user configuration file.
[user]
	name = Fabian Gunzinger
	email = fa.gunzinger@gmail.com
[alias]
	adco = !git add -A && git commit
	sta = !git status
[core]
	excludesfile = /Users/fgu/.gitignore_global
[pull]
	rebase = false
